[submodule "git-file-lastdate"]
	path = git-file-lastdate
	url = https://gist.github.com/marcegeek/5b930f25ba349527f72b869deac27ea0
[submodule "libfaketime"]
	path = libfaketime
	url = https://github.com/wolfcw/libfaketime.git
